*.user
*.obj
*.o
*.a
*.suo
*.opensdf
*.sdf
*.aps
*.rar
*.zip
*.7z
*.lnk
*.txt
*.cuo
*.mul
*.rle
*.idx
*.cfg
*.enu
*.rus
*.bat
*.exe
*.dll
*.def
*.ini
*.sc
*.iff
*.uop
*.pdb
*.sf2
/.vscode
/.vs
/Makefile*
/ipch
/OrionUO/snapshots
/OrionAssistConfig
/Release
/Debug
/OrionUO/Debug
/OrionUO/Release
/OrionUO/OA
/OrionUO.VC.db
/OrionUO.VC.VC.opendb
/Desktop
/OrionUO/music
!/bin/*.dll
!/bin/*.exe
!/bin/*.pdb
!/bin/*.sf2
!/bin/OA/*.dll
!/bin64/*.dll
!/bin64/*.exe
!/bin64/*.pdb
!/bin64/*.sf2
